body {
  background-color: rgb(4, 24, 48);
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1 {
  text-align: center;
  color: azure;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 50px;
}
section.meteo {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
}
section > div > span {
  display: block;
  margin: 15px 5px;
  text-align: center;
  width: 120px;
}
section > div > img {
  display: block;
  margin: 0 auto;
}
